.leroy-bar {
    background-color: #72bf44;
}
.leroy-bar a:link, .leroy-bar a:hover, .leroy-bar a:visited, .leroy-bar li{
    color: white !important;
}
.leroy-bar a:hover {
    text-decoration: underline !important;
}
.container.body{
    margin-top: 40px;
}
.actions{
    text-align: center;
}
.removeProduct{
    background-color: transparent;
    border: transparent;
}

.home .alert {
    margin-top: 30px;
    width: 250px;
}